#main{
    background-color: lightgray;
    font-family: 'Courier New', Courier, monospace;
    padding: 150px;
    width: 80vw;
    height: 80vh;
}

#container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    
}

#sidebar {
    background-color: rgb(128,128,128, 0.3);
    grid-row: 1 / 4;
    text-align: left;
    height: 70vh;
    padding-top: 80px;
}

#sidebar ul li {
    list-style-type: none;
    line-height: 70px;
}

#reviews{
    background-color: rgb(128,128,128, 0.3);
    height: 23vh;
}

#reviews p{
    padding: 20px
}

#averageRating{
    background-color: rgb(128,128,128, 0.3);
    height: 23vh;
}

#averageRating p{
    padding: 20px;
}

#sentimentAnalysis{
    background-color: rgb(128,128,128, 0.3);
    height: 23vh;
}

#sentimentAnalysis p{
    padding: 20px;
}

#websiteVisitors{
    background-color: rgb(128,128,128, 0.3);
    grid-column: 2 / 5;
    height: 54vh;
}

#websiteVisitors p{
    padding: 20px;
}